<html>
  <link rel="stylesheet" type="text/css" href="stylesheet/app.css">
<container class="footer">
<div class="ui fixed inverted menu">
    <div class="ui container" style="background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129)); text-align: center; font-weight:bold; word-spacing: 10px; padding: 0; margin: 0;">
        <div class="footer item">
          <i class="code icon"></i> Book Blog Site
        </div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Post</a>
        <a class="item" href="/shop">Shop</a>
        <a class="item" href="/cart">Cart</a>
        <a class="item" href="/tictactoe">Tictactoe</a>
        <a class="item" href="/connectfour">ConnectFour</a>
        <a class="item" href="/snakegame">SnakeGame</a>
        <a class="item" href="/pong">Pong</a>
        <a class="item" href="/carrace">Car-Race</a>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/signup">SignUp</a>
        <a class="item" href="/aboutus">About Us</a>
    </div>
</div>
</container>
<br><br><br><br><br><br>
</body>

</html>